.container{
    max-width: 90vw;
    margin: 0 auto;
}

.filter{
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.horizontalBar {
    margin: auto;
    width: 10%;
    height: 2px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}